@model IEnumerable<OEG.Models.DurationBenchmark_Result>


@{
    ViewBag.Title = "Duration Benchmark";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Job Code
        </th>
        <th>
            Venue
        </th>
        <th>
            Year
        </th>
        <th>
            Year Level
        </th>
        <th>
            Avg. Pre
        </th>
        <th>
            Avg. Post
        </th>
        <th>
            Avg. Change
        </th>
        <th>
            Avg. Change %
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.jobcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yearlevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Change)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangePercent)
            </td>
        </tr>
    }

</table>


