@model OEG.Models.JobCodeGroupViewModel


@{
    ViewBag.Title = "Current Program Report";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1><i class="fa fa-dashboard fa-2x"></i> @ViewBag.Title </h1>

<div>
    <form action="/Reports/JobCodeGroup" method="post">
        <input type="hidden" id="Hidden_JobCodes" name="Hidden_JobCodes" value="@ViewBag.Hidden_JobCodes" />
        <input type="hidden" id="Hidden_Groups" name="Hidden_Groups" value="@ViewBag.Hidden_Groups" />
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="control-label col-md-6 col-lg-4">Job Code:</label>
                        <div class="col-md-6 col-lg-8">
                            @Html.DropDownList("JobCodes", (SelectList)ViewBag.JobCodes, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="control-label col-md-6 col-lg-4">Group:</label>
                        <div class="col-md-6 col-lg-8">
                            @Html.DropDownList("Groups", (SelectList)ViewBag.Groups, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-lg btn-primary" value="Refresh Data" />
    </form>
</div>
<br />
<div class="pull-right">
    <h3>Total Effect Size: <span class="@(Model.SubTotal < 0 ? "negative" : "")"> @Model.SubTotal </span></h3>
</div>
<table class="table">
    <tr>
        <th>
            School
        </th>
        <th>
            Year Level
        </th>
        <th>
            Duration (Days)
        </th>
        <th>
            Venue
        </th>
        <th>
            Group
        </th>
        <th>
            Competency
        </th>
        <th>
            Year
        </th>
        <th>
            Job Code
        </th>
        <th>
            Avg. Pre
        </th>
        <th>
            Avg. Post
        </th>
        <th>
            Avg. Change
        </th>
        <th>
            Avg. Change %
        </th>
        <th>
            Effect Size
        </th>

    </tr>

    @{int i = 1;}
    @foreach (var item in Model.ReportData)
    {
        if (i % 10 == 0)
        {
            <tr>
                <th>
                    School
                </th>
                <th>
                    Year Level
                </th>
                <th>
                    Duration (Days)
                </th>
                <th>
                    Venue
                </th>
                <th>
                    Group
                </th>
                <th>
                    Competency
                </th>
                <th>
                    Year
                </th>
                <th>
                    Job Code
                </th>
                <th>
                    Avg. Pre
                </th>
                <th>
                    Avg. Post
                </th>
                <th>
                    Avg. Change
                </th>
                <th>
                    Avg. Change %
                </th>
                <th>
                    Effect Size
                </th>

            </tr>
    }
        i++;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.School)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yearlevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                <a class="hastooltip" href="#" title="@Html.DisplayFor(modelItem => item.FactorText)">@Html.DisplayFor(modelItem => item.Factor)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YEAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td class="@(item.Change < 0 ? "negative" : "")">
                @Html.DisplayFor(modelItem => item.Change)
            </td>
            <td class="@(item.Change < 0 ? "negative" : "")">
                @Html.DisplayFor(modelItem => item.ChangePercent)%
            </td>
            <td class="@(item.Change < 0 ? "negative" : "")">
                @Html.DisplayFor(modelItem => item.EffectSize)
            </td>
        </tr>
    }

</table>


<script type="text/javascript">
    $(document).ready(function () {
        $(document).tooltip();
        $('.hastooltip').click(function (event) {
            event.preventDefault();
            $(this).tooltip("toggle");
        });


        $('#JobCodes').multiselect({
            onDropdownHide: function(event) {
                console.log("start");
                var option = $("#Groups");
                //clear out old consolidations
                option.empty();
                console.log("emptied");

                ////get consolidation and append to select options list
                $.getJSON("/Reports/GetGroups/", { options: $("#Hidden_JobCodes").val() }, function (result) {
                    $.each(result, function (index, item) {
                        console.log(item.text);
                        option.append($("<option />").val(item.id).text(item.text));
                    });
                    option.multiselect('rebuild')
                });

            },
            onChange: function (option, checked) {
                //get all of the selected tiems
                var values = $('#JobCodes option:selected');
                var selected = "";
                $(values).each(function (index, value) {
                    selected += $(value).prop('value') + ",";
                });
                selected = selected.substring(0, selected.length - 1);
                //update hidden field with comma delimited string for state persistance
                $("#Hidden_JobCodes").val(selected);

            },
            includeSelectAllOption: true
        });

        var optCol = $("#Hidden_JobCodes").val().split(',');
        //set them as checked
        $("#JobCodes").val(optCol);
        //refresh the control
        $("#JobCodes").multiselect("refresh");

        $('#Groups').multiselect({
            onChange: function (option, checked) {
                //get all of the selected tiems
                var values = $('#Groups option:selected');
                var selected = "";
                $(values).each(function (index, value) {
                    selected += $(value).prop('value') + ",";
                });
                selected = selected.substring(0, selected.length - 1);
                //update hidden field with comma delimited string for state persistance
                $("#Hidden_Groups").val(selected);
            },
            includeSelectAllOption: true
        });

        var option = $("#Groups");
        //clear out old consolidations
        option.empty();
        console.log("emptied");

        ////get consolidation and append to select options list
        $.getJSON("/Reports/GetGroups/", { options: $("#Hidden_JobCodes").val() }, function (result) {
            $.each(result, function (index, item) {
                console.log(item.text);
                option.append($("<option />").val(item.id).text(item.text));
            });
            option.multiselect('rebuild');

            var optCol = $("#Hidden_Groups").val().split(',');
            //set them as checked
            $("#Groups").val(optCol);
            //refresh the control
            $("#Groups").multiselect("refresh");
        });
       
    });

</script>
