@model IEnumerable<OEG.Models.JobCodePrograms_Result>


@{
    ViewBag.Title = "JobCode";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1><i class="fa fa-dashboard fa-2x"></i> @ViewBag.Title <small>(Program)</small></h1>


<div>

    <form action="/Reports/JobCodePrograms" method="post">
        <input type="hidden" id="Hidden_Factors" name="Hidden_Factors" value="@ViewBag.Hidden_Factors" />
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="control-label col-md-6 col-lg-4">Competency:</label>
                        <div class="col-md-6 col-lg-8">
                            @Html.DropDownList("Factors", (SelectList)ViewBag.Factors, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-lg btn-primary" value="Refresh Data" />
    </form>
</div>
<br />
<table class="table">
    <tr>
        <th>
            Year
        </th>
        <th>
            School
        </th>
        <th>
            Job Code
        </th>
        <th>
            Venue
        </th>
        <th>
            Avg. Pre
        </th>
        <th>
            Avg. Post
        </th>
        <th>
            Avg. Change
        </th>
        <th>
            Avg. Change %
        </th>
        <th>
            Effect Size
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.school)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td class="@(item.Change < 0 ? "negative" : "")">
                @Html.DisplayFor(modelItem => item.Change)
            </td>
            <td class="@(item.Change < 0 ? "negative" : "")">
                @Html.DisplayFor(modelItem => item.ChangePercent)%
            </td>
            <td class="@(item.Change < 0 ? "negative" : "")">
                @Html.DisplayFor(modelItem => item.EffectSize)
            </td>

        </tr>
    }

</table>

<script type="text/javascript">
    $(document).ready(function() {
        $('#Factors').multiselect({
            onChange: function (option, checked) {
                //get all of the selected tiems
                var values = $('#Factors option:selected');
                var selected = "";
                $(values).each(function (index, value) {
                    selected += $(value).prop('value') + ",";
                });
                selected = selected.substring(0, selected.length - 1);
                //update hidden field with comma delimited string for state persistance
                $("#Hidden_Factors").val(selected);
            },
            includeSelectAllOption: true
        });

        var optCol = $("#Hidden_Factors").val().split(',');
        //set them as checked
        $("#Factors").val(optCol);
        //refresh the control
        $("#Factors").multiselect("refresh");
    });
</script>


