@model IEnumerable<OEG.Models.SchoolQualative_Result>


@{
    ViewBag.Title = "School Qualitative";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <form action="/Reports/SchoolQualitative" method="post">
        <input type="hidden" id="Hidden_Years" name="Hidden_Years" value="@ViewBag.Hidden_Years" />
        <input type="hidden" id="Hidden_Schools" name="Hidden_Schools" value="@ViewBag.Hidden_Schools" />
        <input type="hidden" id="Hidden_JobCodes" name="Hidden_JobCodes" value="@ViewBag.Hidden_JobCodes" />
        <input type="hidden" id="Hidden_Venues" name="Hidden_Venues" value="@ViewBag.Hidden_Venues" />
        <input type="hidden" id="Hidden_StartDates" name="Hidden_StartDates" value="@ViewBag.Hidden_StartDates" />
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="control-label col-md-6 col-lg-4">Year:</label>
                        <div class="col-md-6 col-lg-8">
                            @Html.DropDownList("Years", (SelectList)ViewBag.Years, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="control-label col-md-6 col-lg-4">School:</label>
                        <div class="col-md-6 col-lg-8">
                            @Html.DropDownList("Schools", (SelectList)ViewBag.Schools, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })<br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="control-label col-md-6 col-lg-4">Job Code:</label>
                        <div class="col-md-6 col-lg-8">
                            @Html.DropDownList("JobCodes", (SelectList)ViewBag.JobCodes, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="control-label col-md-6 col-lg-4">Venue:</label>
                        <div class="col-md-6 col-lg-8">
                            @Html.DropDownList("Venues", (SelectList)ViewBag.Venues, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="control-label col-md-6 col-lg-4">Start Date:</label>
                        <div class="col-md-6 col-lg-8">
                            @Html.DropDownList("StartDates", (SelectList)ViewBag.StartDates, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <input type="submit" class="btn btn-primary" value="Refresh" />
    </form>
</div>
<br />

<table class="table">
    <tr>
        <th>
            Year Level
        </th>
        <th>
            Venue
        </th>
        <th>
            Program Start Date
        </th>
        <th>
            ID
        </th>
        <th>
            Question ID
        </th>
        <th>
            Qualative Response
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.yearlevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @item.ProgramStartDate.Value.ToString("dd/MM/yyyy")
                
            </td>
            <td style="white-space:nowrap">
               
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualResponse)
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    $(document).ready(function() {
        $('#Years').multiselect({
            onChange: function (option, checked) {
                //get all of the selected tiems
                var values = $('#Years option:selected');
                var selected = "";
                $(values).each(function (index, value) {
                    selected += $(value).prop('value') + ",";
                });
                selected = selected.substring(0, selected.length - 1);
                //update hidden field with comma delimited string for state persistance
                $("#Hidden_Years").val(selected);
            },
            includeSelectAllOption: true
        });

        var optCol = $("#Hidden_Years").val().split(',');
        //set them as checked
        $("#Years").val(optCol);
        //refresh the control
        $("#Years").multiselect("refresh");

        $('#Schools').multiselect({
            onChange: function (option, checked) {
                //get all of the selected tiems
                var values = $('#Schools option:selected');
                var selected = "";
                $(values).each(function (index, value) {
                    selected += $(value).prop('value') + ",";
                });
                selected = selected.substring(0, selected.length - 1);
                //update hidden field with comma delimited string for state persistance
                $("#Hidden_Schools").val(selected);
            },
            includeSelectAllOption: true
        });

        var optCol = $("#Hidden_Schools").val().split(',');
        //set them as checked
        $("#Schools").val(optCol);
        //refresh the control
        $("#Schools").multiselect("refresh");


        $('#JobCodes').multiselect({
            onChange: function (option, checked) {
                //get all of the selected tiems
                var values = $('#JobCodes option:selected');
                var selected = "";
                $(values).each(function (index, value) {
                    selected += $(value).prop('value') + ",";
                });
                selected = selected.substring(0, selected.length - 1);
                //update hidden field with comma delimited string for state persistance
                $("#Hidden_JobCodes").val(selected);
            },
            includeSelectAllOption: true
        });

        var optCol = $("#Hidden_JobCodes").val().split(',');
        //set them as checked
        $("#JobCodes").val(optCol);
        //refresh the control
        $("#JobCodes").multiselect("refresh");

        $('#Venues').multiselect({
            onChange: function (option, checked) {
                //get all of the selected tiems
                var values = $('#Venues option:selected');
                var selected = "";
                $(values).each(function (index, value) {
                    selected += $(value).prop('value') + ",";
                });
                selected = selected.substring(0, selected.length - 1);
                //update hidden field with comma delimited string for state persistance
                $("#Hidden_Venues").val(selected);
            },
            includeSelectAllOption: true
        });

        var optCol = $("#Hidden_Venues").val().split(',');
        //set them as checked
        $("#Venues").val(optCol);
        //refresh the control
        $("#Venues").multiselect("refresh");

        $('#StartDates').multiselect({
            onChange: function (option, checked) {
                //get all of the selected tiems
                var values = $('#StartDates option:selected');
                var selected = "";
                $(values).each(function (index, value) {
                    selected += $(value).prop('value') + ",";
                });
                selected = selected.substring(0, selected.length - 1);
                //update hidden field with comma delimited string for state persistance
                $("#Hidden_StartDates").val(selected);
            },
            includeSelectAllOption: true
        });

        var optCol = $("#Hidden_StartDates").val().split(',');
        //set them as checked
        $("#StartDates").val(optCol);
        //refresh the control
        $("#StartDates").multiselect("refresh");


    });
</script>



