@model IEnumerable<OEG.Models.SchoolReport_Result>


@{
    ViewBag.Title = "SchoolsReport";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h2>Schools Report</h2>

<table class="table">
    <tr>
        <th>
            Year
        </th>
        <th>
            School
        </th>
        <th>
            Job Code
        </th>
        <th>
            Avg. Pre/Post
        </th>
        <th>
            Avg. Score
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.school)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prepost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.score)
            </td>
        </tr>
    }

</table>


