@model IEnumerable<OEG.Models.StaffReportData>

@{
    ViewBag.Title = "All Data";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1><i class="fa fa-dashboard fa-2x"></i> @ViewBag.Title <small>(Staff)</small></h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualResponse)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualResponse)
        </td>
    </tr>
}

</table>
