@model IEnumerable<OEG.Models.Venue_Result>


@{
    ViewBag.Title = "Venue";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1><i class="fa fa-university fa-2x"></i> @ViewBag.Title </h1>

<table class="table">
    <tr>
        <th>
            Venue
        </th>
        <th>
            Avg. Pre
        </th>
        <th>
            Avg. Post
        </th>
        <th>
            Avg. Change
        </th>
        <th>
            Avg. Change %
        </th>
        <th>
            Effect Size
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td class="@(item.Change < 0 ? "negative" : "")">
                @Html.DisplayFor(modelItem => item.Change)
            </td>
            <td class="@(item.Change < 0 ? "negative" : "")">
                @Html.DisplayFor(modelItem => item.ChangePercent)%
            </td>
            <td class="@(item.Change < 0 ? "negative" : "")">
                @Html.DisplayFor(modelItem => item.EffectSize)
            </td>
        </tr>
    }

</table>

