@model IEnumerable<OEG.Models.Surveys>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1><i class="fa fa-file fa-2x"></i> Surveys <small>Maintain surveys</small></h1><hr />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyType)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SurveyID }) |
            @Html.ActionLink("Details", "Details", new { id = item.SurveyID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SurveyID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyType)
        </td>

    </tr>
}

</table>
